# Copy this file to .env or just set these environment variables,
# after removing all the empty lines and comments.

# development or production
export NODE_ENV="development"

# default makedrive port is 9090
export PORT=9090

# AWS-S3 information
export S3_BUCKET="org.webmadecontent.staging.makedrive"
export S3_KEY=
export S3_SECRET=

# This value is only used for localhost testing with emulated S3
export MOX_PORT=12319
export S3_DOMAIN="http://localhost:12319"
export S3_EMULATION=false

export ENABLE_GELF_LOGS=false

# where can we access the webmaker loginAPI?
export LOGIN_SERVER_URL_WITH_AUTH="http://localhost:3000"

# Where can we find the login API endpoint
export LOGIN="http://localhost:3000"

# And a cookie secret
export SESSION_SECRET="dummy secret value"

# Key namespace
export COOKIE_KEY="webmakerlogin"

# A domain for webmaker super cookies
# You should only set this when running in a non-localhost environment
export COOKIE_DOMAIN=""

# Is this server running behind an SSL-enabled load-balancer?
export FORCE_SSL=false

# Which provider module will you use with Filer?
# NOTE: You must include this provider in package.json or manually require it.
export FILER_PROVIDER="filer-fs"

# Time-to-live for Websocket tokens
# (Default to 60 seconds)
export TOKEN_TIMEOUT_MS=60000

# Maximum time a client can go in a sync without contacting the server
# (Default to 5 seconds)
export CLIENT_TIMEOUT_MS=5000

###
# Dev config
###

# GIT protocol URI for the master Mozilla repo
# (Default to "git@github.com:mozilla/makedrive.git")
export MAKEDRIVE_UPSTREAM_URI="git@github.com:mozilla/makedrive.git"

# Local remote name for the master Mozilla repo
# (Default to "upstream")
export MAKEDRIVE_UPSTREAM_NAME="upstream"

# Upstream branch to ovewrite on a grunt release command
# (Default to "master")
export MAKEDRIVE_UPSTREAM_BRANCH="master"
