# Copy this file to .env or just set these environment variables,
# after removing all the empty lines and comments.

# development or production
export NODE_ENV="development"

# default makedrive port is 9090
export PORT=9090

# AWS-S3 information
export S3_BUCKET="org.webmadecontent.staging.makedrive"
export S3_KEY=
export S3_SECRET=

# This value is only used for localhost testing with emulated S3
export MOX_PORT=12319
export S3_DOMAIN="http://localhost:12319"
export S3_EMULATION=false

export ENABLE_GELF_LOGS=false

# where can we access the webmaker loginAPI?
export LOGIN_SERVER_URL_WITH_AUTH="http://localhost:3000"

# Where can we find the login API endpoint
export LOGIN="http://localhost:3000"

# And a cookie secret
export SESSION_SECRET="dummy secret value"

# A domain for webmaker super cookies
# You should only set this when running in a non-localhost environment
export COOKIE_DOMAIN=""

# Is this server running behind an SSL-enabled load-balancer?
export FORCE_SSL=false
